* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay-bottom {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(22, 22, 25, 0.78);
  transition: all 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1015;
}
.overlay-bottom--active {
  transition: all 200ms;
  visibility: visible;
  opacity: 1;
}
@media (min-width: 768px) {
  .overlay-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(26, 26, 37, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

.popup-bottom-template {
  color: red;
  padding: 24px 24px 10px 24px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  bottom: -100%;
  width: 100%;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  background-color: yellow;
  border-radius: 16px 16px 0px 0px;
  z-index: 1020;
  transition: all 300ms;
}
@media (min-width: 768px) {
  .popup-bottom-template {
    opacity: 0;
    bottom: 0px;
    bottom: auto;
    top: calc(50% - 145px);
    border-radius: 10px;
    width: 427px;
    min-height: 100px;
    left: 0;
    right: 0;
    box-shadow: 1px 3px 8px rgba(54, 94, 125, 0.15);
    padding: 24px;
    transition: all 300ms;
  }
}
.popup-bottom-template.active {
  bottom: 0;
  visibility: visible;
  transition: all 500ms cubic-bezier(0, 0.245, 0.355, 0.99);
  transition-timing-function: cubic-bezier(0, 0.245, 0.355, 0.99);
}
@media (min-width: 768px) {
  .popup-bottom-template.active {
    opacity: 1;
    bottom: auto;
    transition: 0ms cubic-bezier(0, 0.245, 0.355, 0.99);
  }
}

.popup-bottom-template__inner {
  max-height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.popup-bottom-template__inner::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.popup-bottom-template__modal-close {
  display: none;
}
@media (min-width: 768px) {
  .popup-bottom-template__modal-close {
    display: block;
    position: absolute;
    top: 4px;
    right: -33px;
    background-color: transparent;
    height: 24px;
    width: 24px;
    background: transparent center no-repeat url(../img/popup-close.svg);
  }
}

.popup-bottom-template__swipe-close {
  position: absolute;
  z-index: 2;
  left: 0;
  top: -40px;
  width: 100%;
  height: 50px;
  display: block;
  background-color: transparent;
}
@media (min-width: 768px) {
  .popup-bottom-template__swipe-close {
    display: none;
  }
}
.popup-bottom-template__swipe-close::before {
  content: "";
  position: absolute;
  z-index: 6;
  top: 25px;
  transform: translate(-50%, -50%);
  height: 5px;
  width: 36px;
  background-color: var(--white);
  border-radius: 7px;
}
@media (min-width: 768px) {
  .popup-bottom-template__swipe-close::before {
    display: none;
  }
}

.my-resume__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
}

.my-resume__btn {
  font-family: "Inter", sans-serif !important;
  font-size: var(--text-14);
  line-height: var(--lh-20);
  font-weight: var(--fw-500);
  border-radius: 6px;
}
.my-resume__btn--type--cancel {
  background: transparent;
  color: var(--gray-850);
  padding: 8px 16px;
}
.my-resume__btn--type--action {
  background: var(--orange-600);
  color: var(--white);
  padding: 8px 24px;
}

.delete-file__title {
  font-size: var(--text-22);
  line-height: var(--lh-28);
  font-weight: var(--fw-500);
  color: var(--gray-900);
  margin-bottom: 16px;
}

.delete-file__text {
  font-size: var(--text-14);
  line-height: var(--lh-20);
  font-weight: var(--fw-400);
  color: var(--gray-850);
  margin-bottom: 28px;
}

.delete-file__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.delete-file__btn {
  font-family: "Inter", sans-serif !important;
  font-size: var(--text-14);
  line-height: var(--lh-20);
  font-weight: var(--fw-500);
}
.delete-file__btn--type--cancel {
  background: transparent;
  color: var(--gray-700);
  padding: 8px 16px;
}
.delete-file__btn--type--action {
  background: var(--orange-600);
  color: var(--white);
  border-radius: 6px;
  padding: 8px 24px;
}

body {
  width: 100%;
  min-height: 100vh;
}

.wrapper-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  padding: 10px;
}
.header__inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.header__items {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  padding: 10px;
}

.para {
  margin-bottom: 30px;
}

.button-w {
  width: 200px;
  height: 40px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.button {
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  background-color: orange;
  text-decoration: none;
  box-shadow: 1px 2px 3px 2px;
  transform: rotate(360deg);
}
.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
  overflow: hidden;
}
.popup--js-active {
  overflow: visible;
  background-color: rgba(17, 17, 17, 0.6786064768);
  transition: all 0.5s;
}
.popup__body {
  position: absolute;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  transform: translateY(0%);
  bottom: 0;
  left: 0;
}
.popup__body--js-active {
  transform: translateY(150%);
  transition: all 0.3s;
}
.popup__inner {
  max-width: 500px;
  width: 100%;
  padding: 20px 0px;
  background-color: white;
}
.popup__line {
  position: absolute;
  width: 50px;
  height: 5px;
  background: red;
  margin-bottom: 20px;
  left: 50%;
  border-radius: 10px;
}
.popup__menu {
  padding: 10px;
  margin-top: 20px;
}