@import 'mixin.scss';
@import 'popup-bottom.scss';

body {
   width: 100%;
   min-height: 100vh;
}

.wrapper-content {
   position: relative;
   width: 100%;
   height: 100%;

}

.header {
   width: 100%;
   padding: 10px;

   &__inner {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      display: flex;
   }

   &__items {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 10px;
      border: 1px solid #000;
      padding: 10px;

   }

}

.para {
   margin-bottom: 30px;
}

.button-w {
   width: 200px;
   height: 40px;
   background-color: aqua;
   display: flex;
   justify-content: center;
   margin-left: 10px;


}

.button {
   border-radius: 5px;
   padding: 10px;
   display: inline-block;
   background-color: orange;
   text-decoration: none;
   box-shadow: 1px 2px 3px 2px;
   transform: rotate(360deg);

   &:hover {}
}

.popup {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   z-index: 10;
   overflow: hidden;



   &--js-active {
      overflow: visible;
      background-color: rgba(17, 17, 17, 0.6786064767703957);

      transition: all 0.5s;

   }

   &__body {
      position: absolute;
      width: 100%;
      padding: 50px;
      display: flex;
      justify-content: center;
      transform: translateY(0%);
      bottom: 0;
      left: 0;
   }

   &__body--js-active {
      transform: translateY(150%);
      transition: all 0.3s;

   }

   &__inner {
      max-width: 500px;
      width: 100%;
      padding: 20px 0px;
      background-color: white;

   }

   &__line {
      position: absolute;
      width: 50px;
      height: 5px;
      background: red;
      margin-bottom: 20px;
      left: 50%;
      border-radius: 10px;

   }

   &__menu {
      padding: 10px;
      margin-top: 20px;
   }
}

.card {
   padding: 10px;
   border: 1px solid #000;

   &__checkbox-w {
      display: flex;
      align-items: center;
   }

   &__real-checkbox {
      width: 0;
      height: 0;
      position: absolute;
      opacity: 0;
      z-index: -1;
   }

   &__real-checkbox:checked+&__castum-checkbox {
      position: relative;
      background-color: orange;

      &::before {
         content: '';
         position: absolute;
         display: inline-block;
         width: 13px;
         height: 13px;
         background-image: url(/Vector\ 2.12.svg);
         background-repeat: no-repeat;
         background-size: contain;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) scale(1);
      }
   }

   &__castum-checkbox {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid #000;

      &::before {
         content: '';
         position: absolute;
         display: inline-block;
         width: 13px;
         height: 13px;
         background-image: url(/Vector\ 2.12.svg);
         background-repeat: no-repeat;
         background-size: contain;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) scale(0);
         transition: all 0.1s ease-in;
      }
   }
}

label {
   width: 20px;
   height: 20px;
}

button {
   width: 100px;
   height: 30px;
}

.main-checkbox {
   width: 20px;
   height: 20px;
}